{% extends "base.html" %}
{% load static i18n wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="index.html">BLOG</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="navbar-brand" href="/">HOME</a>
        </li>
        <li>
          <a class="navbar-brand" href="#">ABOUT</a>
        </li>
        <li>
          <a class="navbar-brand" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
{% block header %}
{% image self.header_image fill-1900x864 as header_image %}
<header class="intro-header" style="background-image: url('{{ header_image.url }}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>{{ page.title }}</h1>
          <hr class="small">
          <span class="subheading">{{ page.intro }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      {% for post in blogpages %}
      {% with post=post.specific %}
      <div class="post-preview">
        <a href="{% pageurl post %}">
          <h2 class="post-title">{{ post.title }}</h2>
          <h3 class="post-subtitle">
            {% if post.intro %}
            {{ post.intro|richtext }}
            {% else %}
            {{ post.body|richtext|truncatewords_html:20 }}
            {% endif %}
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="#">{{ post.owner.get_full_name|default:page.owner }}</a>
          on {{ post.date|date:"N d, Y" }}
        </p>
      </div>
      <hr>
      {% endwith %}
      {% endfor %}
    </div>
  </div>
  <hr>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ request.site.name }} {% now "Y" %}</p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
